In [1]:
import dask.dataframe as dd
import pandas as pd
import numpy as np
import os
import matplotlib

In [2]:
os.chdir('E:\personal project\Lending Club')

In [123]:
df = dd.read_csv('LoanStats_2015.csv',dtype='str')

In [135]:
df.loan_status.value_counts().compute()

Current               177845
Fully Paid            172354
Charged Off            60045
Late (31-120 days)      6130
In Grace Period         3227
Late (16-30 days)       1437
Default                   57
Name: loan_status, dtype: int64

In [137]:
dff=df[df.loan_status.isin(['Charged Off','Late (31-120 days),','Default'])].compute()

In [138]:
dff

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
1,NaN,NaN,23100,23100,23100,60 months,20.50%,618.46,E,E4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,24250,24250,24250,60 months,24.24%,701.01,F,F3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,16000,16000,16000,60 months,13.44%,367.67,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,27300,27300,27300,36 months,17.27%,977,D,D3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,10000,10000,10000,60 months,17.97%,253.78,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,17475,17475,17475,36 months,13.99%,597.17,C,C4,...,NaN,NaN,Cash,Y,Jan-18,ACTIVE,Jan-18,4382,44.99,12
75,NaN,NaN,23975,23975,23975,60 months,19.89%,633.73,E,E3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,20000,20000,20000,60 months,13.99%,465.27,C,C4,...,NaN,NaN,Cash,Y,Nov-17,COMPLETE,Sep-17,9915,55,1
96,NaN,NaN,7200,7200,7200,36 months,17.27%,257.67,D,D3,...,NaN,NaN,Cash,Y,Nov-17,ACTIVE,Nov-17,2761,50.01,10
106,NaN,NaN,14000,14000,14000,60 months,14.85%,331.96,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaN,18000,18000,18000,60 months,19.48%,471.7,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
114,NaN,NaN,4225,4225,4225,36 months,14.85%,146.16,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,20200,20200,20200,60 months,18.49%,518.35,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
137,NaN,NaN,5475,5475,5475,36 months,18.99%,200.67,E,E1,...,3058.14,61.23,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,8000,8000,8000,36 months,17.97%,289.1,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
152,NaN,NaN,5000,5000,5000,36 months,9.80%,160.87,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,NaN,35000,35000,35000,60 months,12.88%,794.21,C,C2,...,NaN,NaN,Cash,Y,Oct-17,ACTIVE,Sep-17,13403,45,18
186,NaN,NaN,16000,16000,16000,60 months,11.48%,351.73,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
194,NaN,NaN,25825,25825,25825,60 months,26.06%,774.14,F,F5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,13000,13000,13000,60 months,16.59%,320.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,NaN,21000,21000,21000,60 months,9.80%,444.13,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,18200,18200,18200,60 months,15.77%,440.37,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
211,NaN,NaN,20000,20000,20000,60 months,12.88%,453.84,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
212,NaN,NaN,4575,4575,4575,36 months,17.27%,163.73,D,D3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
224,NaN,NaN,5000,5000,5000,36 months,11.99%,166.05,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
230,NaN,NaN,14875,14875,14875,60 months,18.49%,381.71,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
232,NaN,NaN,10000,10000,10000,36 months,9.80%,321.74,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
241,NaN,NaN,18850,18850,18850,36 months,21.48%,714.83,E,E5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
254,NaN,NaN,16000,16000,16000,36 months,10.78%,522.16,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
265,NaN,NaN,14400,14400,14400,60 months,19.48%,377.36,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23470,NaN,NaN,28500,28500,28500,36 months,19.24%,1048.16,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23476,NaN,NaN,25000,25000,25000,60 months,24.99%,733.64,F,F4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23478,NaN,NaN,5000,5000,5000,36 months,14.99%,173.31,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23480,NaN,NaN,20000,20000,20000,36 months,14.99%,693.21,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23483,NaN,NaN,30000,30000,30000,60 months,10.49%,644.67,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23484,NaN,NaN,29675,29675,29675,60 months,13.66%,685.27,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23486,NaN,NaN,25000,25000,25000,36 months,20.99%,941.75,E,E4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23491,NaN,NaN,25000,25000,25000,60 months,14.31%,585.74,C,C4,...,NaN,NaN,Cash,Y,Apr-17,COMPLETE,Apr-16,11238.41,50,0
23492,NaN,NaN,30000,30000,30000,36 months,13.66%,1020.39,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23495,NaN,NaN,21000,21000,21000,60 months,23.99%,604.01,F,F2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23497,NaN,NaN,11050,11050,11050,36 months,13.66%,375.85,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23502,NaN,NaN,35000,35000,35000,60 months,24.99%,1027.1,F,F4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23507,NaN,NaN,15650,15650,15650,60 months,11.44%,343.72,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23512,NaN,NaN,12000,12000,12000,36 months,17.86%,432.99,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23516,NaN,NaN,15600,15600,15600,60 months,10.49%,335.23,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23518,NaN,NaN,2725,2725,2725,36 months,17.86%,98.33,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23523,NaN,NaN,20000,20000,20000,36 months,14.99%,693.21,C,C5,...,NaN,NaN,Cash,Y,Nov-17,ACTIVE,Nov-17,3024.18,40,6
23528,NaN,NaN,10000,10000,10000,60 months,23.99%,287.63,F,F2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23535,NaN,NaN,17025,17025,17025,60 months,19.99%,450.97,E,E3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23541,NaN,NaN,14000,14000,14000,36 months,15.99%,492.13,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23543,NaN,NaN,13825,13825,13825,60 months,21.99%,381.76,E,E5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23551,NaN,NaN,19600,19600,19600,60 months,14.31%,459.22,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23552,NaN,NaN,16000,16000,16000,36 months,8.19%,502.79,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23554,NaN,NaN,28000,28000,28000,36 months,15.59%,978.74,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23562,NaN,NaN,4200,4200,4200,36 months,15.99%,147.64,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23570,NaN,NaN,25000,25000,25000,60 months,15.99%,607.82,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23580,NaN,NaN,10850,10850,10850,36 months,19.24%,399.04,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23582,NaN,NaN,12000,12000,12000,36 months,11.99%,398.52,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23586,NaN,NaN,12000,12000,12000,60 months,19.99%,317.86,E,E3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23587,NaN,NaN,13000,13000,13000,60 months,15.99%,316.07,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN